@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, rgba(90, 61, 61, 0.5), rgba(112, 150, 174, 0.7));
    background-size: cover;
    background-position: center;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 999;
    background-color: transparent;
    transition: all 0.3s ease;
  }
  
  header .logo {
    color: #fff;
    font-size: 2rem;
  }
  
  header nav {
    display: flex;
  align-items: center;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  header nav ul li {
    margin-left: 2rem;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.3s ease;
    padding: 0.5rem 2.5rem;
    border-radius: 0.5rem;
  }
  

  form {
    margin-top: 0.5rem;
}

.input-area {
    margin-top: 1rem;
    position: relative;
    display: grid;
    place-items: center;
}

.input-area input {
    width: 70%;
    height: 3rem;
    color: #212020;
    font-size: 1.2rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    outline: none;
    background: rgba(230, 225, 225, 0.1);
    padding: 0 1.4rem;
    box-sizing: border-box;
    transition: all 0.3s ease;
    box-shadow: #212020;
}

.input-area label {
    top: 30%;
    color: #fff;
    font-size: 1rem;
    transition: all 0.3s ease;
}
input::placeholder {
    color: rgb(192, 187, 187);
  }
  .input-area input:focus {
    box-shadow: 0 0 5px #212020;
}

.button-area {
    margin-top: 1.5rem;
    width: 100%;
    display: grid;
    place-items: center;
}
button {
    width: 6rem;
    height: 3rem;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 2rem;
    background: rgb(155, 67, 77);
    transition: all 0.3s ease;
}
button.submit{
	width:40%;
}
button .submit:hover {
    width: 50%;
    letter-spacing: 2px;
    background: transparent;
    border: 2px solid #2c1515;
}
 li a#M:hover {
    background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  }
    header nav ul li a.active {
     background-color: rgba(255, 255, 255, 0.2);
  }