
* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
}
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 5vh;
	background-color: rgb(210, 210, 210);
}

