@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
  }
  
  body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, rgba(90, 61, 61, 0.5), rgba(112, 150, 174, 0.7));
    background-size: cover;
    background-position: center;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    z-index: 999;
    background-color: transparent;
    transition: all 0.3s ease;
  }
  
  header .logo {
    color: #fff;
    font-size: 2rem;
  }
  
  header nav {
    display: flex;
    align-items: center;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 20px;
  }
  
  header nav ul li {
    margin-left: 1rem;
  }
  
  header nav ul li a.active {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.3s ease;
    padding: 0.5rem 2.5rem;
    border-radius: 0.5rem;
  }
  
  header nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  header nav ul li a.log-out :hover {
    background-color: transparent;
  }
  
  .datepicker-buttons .ui-state-default {
    border: none;
    background-color: #fff;
    color: #000;
    padding: 0.25em 0.5em;
    margin: 0.25em;
    border-radius: 1rem;
    cursor: pointer;
  }
  
  .datepicker-buttons .ui-state-disabled {
    color: #999;
    cursor: default;
  }
  
  .ui-datepicker {
    background-color: transparent;
    border: none;
    margin-left: 20px;
    margin-top: 20px;
  }
  
  button {
    width: 6rem;
    height: 3rem;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 2rem;
    background: rgb(155, 67, 77);
    transition: all 0.3s ease;
    margin-top: 20px;
    display: block;
  margin: 0 auto;
  }
  
  button:hover {
    width: 6rem;
    letter-spacing: 1px;
    background: transparent;
    border: 2px solid #212020;
  }
  
 .titre {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .ui-datepicker-calendar {
    text-align: center;
    margin: 0 auto;
   
  }
  i {
    font-size:150%;
    align-items: center;
  }
  .logout:hover{
   background: transparent;
    border: 2px solid #212020;
  }