@charset "UTF-8";
    .pswd{
   width: 8rem;
    height: 3rem;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 2rem;
    background: rgb(155, 67, 77);
    transition: all 0.3s ease;
    margin-left: 60%;
  }
      a{
  color:white;
  appearance: none;
  text-decoration:none;
  }
  * {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
  }
  
  body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, rgba(90, 61, 61, 0.5), rgba(112, 150, 174, 0.7));
    background-size: cover;
    background-position: center;
  }
  
 header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    z-index: 999;
    background-color: transparent;
    transition: all 0.3s ease;
  }
  
  header .logo {
    color: #fff;
    font-size: 1.7rem;
  }
  
  header nav {
    display: flex;
  align-items: center;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  header nav ul li {
    margin-left: 2rem;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: all 0.3s ease;
    padding: 0.5rem 2.5rem;
    border-radius: 0.5rem;
  }
   
 li a#M:hover {
    background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  }
  i {
    font-size:150%;
    align-items: center;
  }
  header nav ul li a.active {
     background-color: rgba(255, 255, 255, 0.2);
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
  
  th,
  td {
    text-align: left;
    padding: 16px 10px;
    border-bottom: 1px solid #ddd;
    
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
    
  } #editProfileButton{
   width: 8rem;
    height: 3rem;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 2rem;
    background: rgb(155, 67, 77);
    transition: all 0.3s ease;
    margin-left: 30%;
  }
  #updateProfileButton{
    width: 8rem;
    height: 3rem;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 2rem;
    background: rgb(155, 67, 77);
    transition: all 0.3s ease;
    margin-left: 30%;
  }
  
    button #editProfileButton:hover{
   width: 5rem;
    letter-spacing: 1px;
    background: transparent;
    border: 2px solid #212020;
  }
button #updateProfileButton:hover{
	 width: 5rem;
    letter-spacing: 1px;
    background: transparent;
    border: 2px solid #212020;
	
}
 .logout{
    width: 8rem;
    height: 3rem;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 2rem;
    background: rgb(155, 67, 77);
    transition: all 0.3s ease;
    margin-top: 20px;
    display: block;
  margin: 0 auto;
  }